/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*.cache/
.cpcache
.calva
*/representation.txt
*mapping.json
.clj-kondo/
*representation.txt
*representation.json
resources/**/project.clj
